<div class="ui five column grid">
  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">
        <h3 class="ui header">
          <i class="green map marker icon"></i>
          <div class="content">{{name}}</div><hr>
        </h3>
        <div class="description"></div>
        <div class="description"></div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">
        <h3 class="ui header">
          <i class="yellow sun icon"></i>
          <div class="content">Weather</div><hr>
        </h3>
        <div class="description"><b>{{getWeatherLabel}}</b></div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">
        <h3 class="ui header">
          <i class="red thermometer icon"></i>
          <div class="content">Temperature</div><hr>
        </h3>
        <div class="description"><b>Currently: {{getLatestTemperature name}}</b></div>
        <hr>
        <div class="description"></div>
        <div class="description"></div>
        <div class="description">
          <b></b>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">
        <h3 class="ui header">
          <i class="blue paper plane icon"></i>
          <div class="content">Wind</div><hr>
        </h3>
        <div class="ui two column grid">
          <div class="column">
            <div class="description">Currently</div>
          </div>
          <div class="column">
            <b>{{getBeaufortReading name}} bft</b>
          </div>
        </div>
        <hr>
        <div class="ui two column grid">
          <div class="column">
            <div class="description">Direction</div>
            <div class="description">Feels like</div>
            <div class="description">Wind Chill</div>
            <div class="description"></div>
          </div>
          <div class="column">
            <b>
              <div class="description">{{getCompassDirection name}}</div>
              <div class="description">{{getBeaufortLabel name}}</div>
              <div class="description">{{getWindChill name}} C</div>
            </b>
          </div>
        </div>
        <div class="description">
          <b></b>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">
        <h3 class="ui header">
          <i class="orange expand arrows alternate icon"></i>
          <div class="content">Pressure</div><hr>
        </h3>
        <div class="description"><b>Currently: {{getLatestPressure name}} hpa</b></div>
        <hr>
        <div class="description"></div>
        <div class="description"></div>

        <div class="description">
          <b></b>
        </div>
      </div>
    </div>
  </div>
</div>
