<div class="ui five column grid">
  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">
        <h3 class="ui header">
          <i class="green map marker icon"></i>
          <div class="content">{{name}}</div><hr>
        </h3>
        <div class="description"></div>
        <div class="description"></div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">
        <h3 class="ui header">
          <i class="yellow sun icon"></i>
          <div class="content">Weather</div><hr>
        </h3>
        <div class="description"><b>{{latestCode}}</b></div>

      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">
        <h3 class="ui header">
          <i class="red thermometer icon"></i>
          <div class="content">Temperature</div><hr>
        </h3>
        <div class="description"><b>Currently:</b> {{latestTemperature}}</div>

        <div class="description"></div>
        <div class="description"></div>

        <div class="description">
          <b></b>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">
        <h3 class="ui header">
          <i class="blue paper plane icon"></i>
          <div class="content">Wind</div><hr>
        </h3>
        <div class="description"><b>Currently:</b> {{latestBeaufortReading}} bft</div>
        <div class="description"></div>
        <div class="description"></div>
        <div class="description"></div>
        <div class="description"></div>

        <div class="description">
          <b></b>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">
        <h3 class="ui header">
          <i class="orange expand arrows alternate icon"></i>
          <div class="content">Pressure</div><hr>
        </h3>
        <div class="description"><b>Currently:</b> {{latestPressure}} hpa</div>

        <div class="description"></div>
        <div class="description"></div>

        <div class="description">
          <b></b>
        </div>
      </div>
    </div>
  </div>
</div>
