<div class="ui five column grid">

  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">

        <h3 class="ui header">
          <i class="green map marker icon"></i>
          <div class="content">{{station.name}}</div>
        </h3>
        <div class="ui divider"></div>

        <div class="ui two column grid">
          <div class="column">
            <div class="description">Latitude</div>
            <div class="description">Longitude</div>
          </div>

          <div class="column">
            <div class="description">{{station.position.latitude}}</div>
            <div class="description">{{station.position.longitude}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">

        <h3 class="ui header">
          <i class="yellow sun icon"></i>
          <div class="content">Weather</div>
        </h3>
        <div class="ui divider"></div>

        <div><b>{{getWeatherLabel station.name}}</b></div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">

        <h3 class="ui header">
          <i class="red thermometer icon"></i>
          <div class="content">Temperature</div>
        </h3>
        <div class="ui divider"></div>

        <div class="ui two column grid">
          <div class="column">
            <div class="description">Currently</div>
            <div class="description">Minimum</div>
            <div class="description">Maximum</div>
          </div>

          <div class="column">
            <b>{{getTempCelsius station.name}}</b>
            <div class="description">{{stationSummary.minTemperature}} C</div>
            <div class="description">{{stationSummary.maxTemperature}} C</div>
          </div>
        </div>
        <div class="ui divider"></div>

        <div class="ui two column grid">
          <div class="column">
            <div class="description">Fahrenheit</div>
          </div>

          <div class="column">
            <b>
              <div class="description">{{getTempFahrenheit station.name}}</div>
            </b>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">

        <h3 class="ui header">
          <i class="blue paper plane icon"></i>
          <div class="content">Wind</div>
        </h3>
        <div class="ui divider"></div>

        <div class="ui two column grid">
          <div class="column">
            <div class="description">Currently</div>
            <div class="description">Minimum</div>
            <div class="description">Maximum</div>
          </div>

          <div class="column">
            <b>{{getBeaufortReading station.name}}</b>
            <div class="description">{{stationSummary.minWind}} km/h</div>
            <div class="description">{{stationSummary.maxWind}} km/h</div>
          </div>
        </div>
        <div class="ui divider"></div>

        <div><i>Feels like <b>{{getBeaufortLabel station.name}}</b></i></div>

        <div class="ui two column grid">
          <div class="column">
            <div class="description">Direction</div>
            <div class="description">Wind Chill</div>
          </div>

          <div class="column">
            <b>
              <div class="description">{{getCompassDirection station.name}}</div>
              <div class="description">{{getWindChill station.name}}</div>
            </b>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">

        <h3 class="ui header">
          <i class="orange expand arrows alternate icon"></i>
          <div class="content">Pressure</div>
        </h3>
        <div class="ui divider"></div>

        <div class="ui two column grid">
          <div class="column">
            <div class="content">Currently</div>
            <div class="description">Minimum</div>
            <div class="description">Maximum</div>
          </div>

          <div class="column">
            <b>{{getLatestPressure station.name}}</b>
            <div class="description">{{stationSummary.minPressure}} hPa</div>
            <div class="description">{{stationSummary.maxPressure}} hPa</div>
          </div>
        </div>
        <div class="ui divider"></div>

        <div class="ui two column grid">
          <div class="column">

          </div>

          <div class="column">

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

