<div class="ui five column grid">
  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">

        <h3 class="ui header">
          <i class="green map marker icon"></i>
          <div class="content">{{name}}</div>
        </h3>
        <div class="ui divider"></div>

        <div class="ui two column grid">
          <div class="column">
            <div class="description">Latitude</div>
            <div class="description">Longitude</div>
          </div>

          <div class="column">
            <div class="description">{{position.latitude}}</div>
            <div class="description">{{position.longitude}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">

        <h3 class="ui header">
          <i class="yellow sun icon"></i>
          <div class="content">Weather</div>
        </h3>
        <div class="ui divider"></div>

        <div class="center aligned">
          <div class="ui hidden divider"></div>
          What to expect?
          <div><b>{{getWeatherLabel name}}</b></div>
          <div class="ui hidden divider"></div>
          Wind feels like
          <div><i><b>{{getBeaufortLabel name}}</b></i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">

        <h3 class="ui header">
          <i class="red thermometer icon"></i>
          <div class="content">Temperature</div>
        </h3>
        <div class="ui divider"></div>

        <div class="ui two column grid">
          <div class="column">
            <div class="description">Currently</div>
            <div class="description">Min - Max</div>
            <div class="description">Fahrenheit</div>
          </div>

          <div class="column">
            <b>{{getTempCelsius name}}</b>
            <div class="description">{{minMaxValues.minTemperature}} - {{minMaxValues.maxTemperature}} C</div>
            <div class="description">{{getTempFahrenheit name}}</div>
          </div>
        </div>
        <div class="ui divider"></div>

        <div class="ui two column grid">
          <div class="column">
            <div class="description">Wind Chill</div>
          </div>

          <div class="column">
            <b>
              <div class="description">{{getWindChill name}}</div>
            </b>
          </div>
        </div>
        <div class="ui divider"></div>
        <div>Trend: <b>{{weatherTrends.temperatureTrend}}</b></div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">

        <h3 class="ui header">
          <i class="blue paper plane icon"></i>
          <div class="content">Wind</div>
        </h3>
        <div class="ui divider"></div>

        <div class="ui two column grid">
          <div class="column">
            <div class="description">Currently</div>
            <div class="description">Minimum</div>
            <div class="description">Maximum</div>
          </div>

          <div class="column">
            <b>{{getBeaufortReading name}}</b>
            <div class="description">{{minMaxValues.minWind}} km/h</div>
            <div class="description">{{minMaxValues.maxWind}} km/h</div>
          </div>
        </div>
        <div class="ui divider"></div>

        <div class="ui two column grid">
          <div class="column">
            <div class="description">Direction</div>
          </div>

          <div class="column">
            <b>
              <div class="description">{{getCompassDirection name}}</div>
            </b>
          </div>
        </div>
        <div class="ui divider"></div>
        <div>Trend: <b>{{weatherTrends.windTrend}}</b></div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui card" style="height: 100%">
      <div class="content">

        <h3 class="ui header">
          <i class="orange expand arrows alternate icon"></i>
          <div class="content">Pressure</div>
        </h3>
        <div class="ui divider"></div>

        <div class="ui two column grid">
          <div class="column">
            <div class="content">Currently</div>
            <div class="description">Minimum</div>
            <div class="description">Maximum</div>
          </div>

          <div class="column">
            <b>{{getLatestPressure name}}</b>
            <div class="description">{{minMaxValues.minPressure}} hPa</div>
            <div class="description">{{minMaxValues.maxPressure}} hPa</div>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui divider"></div>
        <div>Trend: <b>{{weatherTrends.pressureTrend}}</b></div>
      </div>
    </div>
  </div>
</div>

