{{> menu id="dashboard"}}

{{> graph-menu}}

<div class="ui bottom attached segment" id="chart"></div>
<script>
  const data = {
    labels: [
      {{#each reading.trendLabels}}
        "{{this}}",
      {{/each}}
    ],
    datasets: [
      {
        name: `{{trendCategory}}`, type: "line",
        values: [
          {{#each reading.trend}}
            {{this}},
          {{/each}}
        ]
      }
    ]
  }

  const chart = new frappe.Chart("#chart", {
    title: `{{trendCategory}} Trend`,
    data: data,
    type: 'line',
    height: 250,
  })
</script>

<section class="ui segment">
  <div class="ui grid">
    <div class="two column row">
      <div class="left floated column">
        <h2 class="ui header">{{station.name}} Station</h2>
      </div>
    </div>
  </div>
  {{> list-readings}}
  {{> create-reading}}

  <div class="ui center aligned column">
    <a href="/station/{{station.id}}/get-reading" class="ui red icon button">
      <i class="icon cloud download"></i>&nbsp;&nbsp; Get real-time reading
    </a>
  </div>
</section>

<div class="ui hidden divider"></div>